{
  "statusLine": {
    "type": "command",
    "command": "bash /Users/khang/.claude/statusline-command.sh"
  },
  "enabledPlugins": {
    "figma@claude-plugins-official": true
  },
  "env": {
    "SKILLSMP_API_KEY": "{{ .skillsmp_api_key }}"
  }
}
